body {
	 background-image: url("noteapp.jpg");
	  background-size: 1600px 900px;
	  background-repeat: no-repeat;
} 

#login {
	height: 300px;
	width: 450px;
	border-radius: 10px;
	background-color: #e5e4d7;
	
	 margin-left: auto;
	 margin-right: auto;
     text-align: center;
	line-height: 10px;
	font-size: 18px;
	padding-left: 5px;
	 box-shadow:0 4px 10px 4px ;
	 border-top: 30px;
	  margin-top: 60px;
	  padding-top: 20px;
	  font-size: 18px;
	  font-family: Verdana;


}

.sweeper {
	 background-color: #e5e4d7; 
	 height: 628px;
	 width: 470px;
	 border-radius: 6px;
	 position: center;
	 font-family: Verdana;
	 font-size: 15px;
	 
	 box-shadow:0 4px 10px 4px ;
	
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 68px;
	 padding-top: 20px;
	
}

.buggy {
	 padding:5px 10px;
	 padding-right: 16px;
	 display: inline-block;
	 margin-left: 0;
	 background-color: #8C998C;
	 font-weight: bolder;
	 
 }

label{
	display: inline-block;
	width: 115px;
	line-height: 10px;
	 margin-top: 25px;
	 margin-left: 15px

}


input {
	display: inline-block;
}

#button {
	font-size: 15px;
	background-color: #e5e4d7;
}

a {
	text-decoration: none;
	color: ##0033cc;
	text-align: center;

}

h4 {
	border-top: 10px;
}

.home {
display: inline-block;
text-decoration: none;
}